<h1 class='text-center'>Urls</h1>

<div class="row">
  <div class="col-md-4 offset-4">
        <ul>
            <li> www.test.com | t | localhost:3000/t </li>
        </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-2">
  <div class="row">
  <div class="col-md-8 offset-2">
    <%= form_with(model: @url, local: true) do |f| %>

      <%= f.label :link %>
      <%= f.text_field :link, class: 'mb-1 form-control' %>

      <%= f.label :short %>    
      <%= f.text_field :short, class: 'mb-1 form-control' %>

      <%= f.submit "Create Url", class: "mt-2 btn btn-primary" %>
    <% end %>
  </div>
</div>
  </div>
</div>